node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
dist
build
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.temp
.tmp
.env.local
.env.development.local
.env.test.local
.env.production.local